@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

:root {
    --accent-colour: #ff5858;
}

.tracker {
    color: grey;
    font-weight: 500;
    font-size: small;
}

.hidden-tracker {
    display: none;
}

body {
 background-color: #262626;
 /* font-family: Firacode,monospace; */
}

nav {
    border-radius: 8px;
}

.container {
    background-color: var(--bg-color);
    box-shadow: rgb(15, 15, 15) 0px 0px 0.6em;
    min-height: 100vh;
    padding: 0 2.5em;
}

.site-title {
    font-family: sans-serif;
}

.site-title::before {
    content: "\25C6  ";
    color: var(--accent-colour);
}

.inline-svg {
    padding: 0 0.2em;
}

.homepage-content {
    margin: 1.5em 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.index-content {
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 0.9em;
    font-family: Firacode, monospace;
}

.profile-pic {
    border-radius: 50%;
    box-shadow: rgb(10, 10, 10) 0px 0px 0.5em;
    height: 9em;
    margin-bottom: 0.5em;
}


@media screen and (min-width: 700px) {
    .homepage-content {
        flex-direction: row;
        margin: 1.5em 1em;
    }

    .profile-pic {
        margin-bottom: 0;
        margin-right: 1.5em;
    }
}

.category-section {
    border-top: thin solid var(--hr-color);
    padding: 0.8em 0 0.5em 0;
}

.section-title {
    font-size: 1.2em;
    font-weight: 600;
}

.section-title a {
    font-weight: 600;
    color: white;
}

a:hover, a:focus, a:active {
    color: var(--accent-colour);
}

.section-title::before {
    content: "\25C6  ";
    color: var(--accent-colour);
}

.post-header {
    margin-bottom: 0.4em;
    margin-top: 0.8em;
}

.post-header a {
    font-weight: 400;
}

.post-title {
    margin-bottom: 0;
    margin-top: 0.8em;
}

.post-list {
    /* border-left: 1px solid var(--post-info-color); */
    padding-left: 0.6em;
}

.post-info {
    font-family: monospace;
    margin-bottom: 1em;
    margin-top: 0;
}

.view-more-posts {
    font-size: 0.8em;
    margin-left: 0.8em;
}

.common-footer {
    border-top: thin solid var(--hr-color);
    padding-bottom: 20px;
    padding-top: 1em;
    margin-top: 0.5em;
    text-align: center;
    display:flex;
    align-items:center;
    justify-content: center;
}

