{{ define "main" }}
    <div class="homepage-content">
        <div class="index-content">
            <img class="profile-pic" src="{{ .Site.Params.avatar }}">
        </div>
        <div class="index-content">
            {{ .Content }}
        </div>
    </div>

    <div class="category-section">
        <a class="section-title" href="posts">Blog Posts</a>
        <div class="articles h-feed">
            {{ range first 4 (where site.RegularPages "Section" "in" "posts") }}
                {{ partial "post-summary.html" . }}
            {{ end }}
            <a class="view-more-posts" href="posts">View more</a>
        </div>
    </div>

    <div class="category-section">
        <a class="section-title" href="research">Research</a>
        <div class="articles h-feed">
            {{ range first 4 (where site.RegularPages "Section" "in" "research") }}
                {{ partial "post-summary.html" . }}
            {{ end }}
            <a class="view-more-posts" href="research">View more</a>
        </div>
    </div>

    <div class="category-section">
        <a class="section-title" href="projects">Projects:</a>
        <div class="articles h-feed">
            {{ range first 4 (where site.RegularPages "Section" "in" "projects") }}
                {{ partial "post-summary.html" . }}
            {{ end }}
            <a class="view-more-posts" href="projects">View more</a>
        </div>
    </div>

    <!-- {{ partial "pagination.html" . }} -->

{{ end }}