{{ define "main" }}
    <div class="homepage-content">
        <div class="index-content">
            <img class="profile-pic" src="{{ .Site.Params.avatar }}">
        </div>
        <div class="index-content">
            {{ .Content }}
        </div>
    </div>

    <h1 class="section-title">Blog Posts:</h1>
    <div class="articles h-feed">
        {{ $post_pages := where (where site.Pages "Section" "posts") "Params.hidden" "!=" true }}
        {{ range (.Paginate $post_pages).Pages }}
            {{ partial "post-summary.html" . }}
        {{ end }}
    </div>

    <h1 class="section-title">Research:</h1>
    <div class="articles h-feed">
        {{ $research_pages := where (where site.Pages "Section" "research") "Params.hidden" "!=" true }}
        {{ range (.Paginate $research_pages).Pages }}
            {{ partial "post-summary.html" . }}
        {{ end }}
    </div>

    <h1 class="section-title">Projects:</h1>
    <div class="articles h-feed">
        {{ $project_pages := where (where site.Pages "Section" "projects") "Params.hidden" "!=" true }}
        {{ range (.Paginate $project_pages).Pages }}
            {{ partial "post-summary.html" . }}
        {{ end }}
    </div>

    {{ partial "pagination.html" . }}

{{ end }}